---
import Center from '@/components/Center.astro'
import Footer from '@/components/Footer.astro'
import Navbar from '@/components/Navbar.astro'
import Page from '@/components/Page.astro'

---

<Page title="404">

  <Navbar />

  <Center
    className="bg-no-repeat bg-center bg-contain"
    innerClassName="flex-center-center"
    style={{
      height: 'calc(100vh - 104px)',
      backgroundImage: 'url("/assets/img/cloud.png")',
    }}
  >
    <div class="text-center text-zinc-500">
      <div class="flex-center-center mb-12 text-6xl font-kxzd">
        <div class="flex-center-center -mx-1 w-24 h-24 border-4 border-zinc-300 border-double bg-white">肆</div>
        <div class="flex-center-center -mx-1 w-24 h-24 border-4 border-zinc-300 border-double bg-white rounded-full">零</div>
        <div class="flex-center-center -mx-1 w-24 h-24 border-4 border-zinc-300 border-double bg-white">肆</div>
      </div>
      <div class="text-xl font-din">404 NOT FOUND</div>
      <div class="mt-2 text-sm">页面不存在，或正在建设中</div>
    </div>
  </Center>

  <Footer />

</Page>
