* {
  margin: 0;
  padding: 0;
}
  
/* --------------------------------- index --------------------------------- */

.gaoyou-introduction {
  display: flex;
}

.introduction-item {
  flex-grow: 1;
  padding: 0 40px;
}

.gaoyou-profile {
  align-self: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}

.gaoyou-timeaxis {
  position: relative;
  height: 280px;
  overflow-y: auto;
}

.gaoyou-timeaxis .inner {
  height: auto;
  border-left: 2px solid #efefef;
  padding: 20px 0 0 40px;
}

.gaoyou-timeaxis p {
  position: relative;
  margin-top: 20px;
  font-family: kai;
}

.gaoyou-timeaxis p::before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: -46px;
  border: 2px solid #fff;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #aaa;
}

.index-links {
  text-align: center;
}

.index-links .link-card {
  display: inline-block;
  margin: 20px;
  width: 200px;
  padding: 20px 50px;
}

.index-links .link-card:hover {
  background: #fafafa;
  cursor: pointer;
}

/* --------------------------------- sidebar --------------------------------- */

.sidebar-outline a {
  color: #666;
  font-size: 14px;
}

.sidebar-outline a:hover {
  color: #222;
}

.sidebar-outline h4 a {
  font-size: 14px;
}

.sidebar-outline-items {
  margin: 8px 0;
  border-left: 1px solid #ddd;
  padding-left: 20px;
}

.sidebar-outline-items a {
  color: #787878;
  font-size: 14px;
}

.sidebar-outline-items a.active {
  color: #222;
  font-weight: bold;
}

/* --------------------------------- tocbot --------------------------------- */

.annals-tocbot {
  padding-left: 20px;
  min-width: 220px;
}

.annals-tocbot h3 {
  font-size: 14px;
  margin-bottom: 12px;
}

.toc-list-container li {
  list-style: none;
}

.toc-list-container a {
  color: #787878;
  font-size: 12px;
}

.toc-list-container a:hover {
  color: #222;
}

.toc-list-container .is-active-link {
  color: #222;
  font-weight: bold;
}

.toc-list a {
  padding-left: 24px;
}

.toc-list .is-active-li a.active {
  color: #222 !important;
  font-weight: bold;
  background: url('../img/link.png') no-repeat left center;
  background-size: contain;
}

.toc-list .toc-list {
  padding-left: 20px;
}

.tocbot-title {
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
    color: #aaa;
}

.back-to-top {
  display: block;
  margin: 40px 20px;
  padding: 6px 0;
  color: #666;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 4px;
  width: 100px;
}

.back-to-top:hover {
  background: #f2f2f2;
}


/* --------------------------------- prev-next --------------------------------- */

.prev-next-container {
  display: flex;
  padding: 32px;
  background: url('../img/stripe.png') repeat-x center top;
  background-size: 30px;
}

.prev-next-container .container-section {
  flex-grow: 1;
  padding: 0 48px;
  margin: 0 8px;
  cursor: pointer;
  transition: margin .23s;
}

.prev-next-container .container-section:hover {
  margin: 0;
}

.prev-next-container .container-section span {
  color: #ccc;
  font-size: 12px;
}

.prev-next-container .container-section p {
  font-size: 18px;
  color: #777;
}

.prev-next-container .container-section:hover p {
  color: #222;
}

.prev-next-container .next {
  text-align: right;
}

.prev-next-container .prev {
  content: "";
  display: block;
  background: url('../img/icon/arrow-prev.svg') no-repeat left center;
  background-size: 24px;
}

.prev-next-container .next {
  content: "";
  display: block;
  background: url('../img/icon/arrow-next.svg') no-repeat right center;
  background-size: 24px;
}