---
import { line } from '@/utils'

interface LayoutProps {
  id: string,
  className: string,
  innerClassName: string,
  style?: string
}

const { id, className, innerClassName, style } = Astro.props as LayoutProps

---

<div
  id={id}
  class={`relative w-full ${className || ''}`}
  style={style}
>
  <div
    class={line(`
      relative z-0 mx-auto px-4 w-full h-full
      lg:w-5xl xl:px-0
      ${innerClassName || ''}
    `)}
  >
    <slot />
  </div>
</div>
