---
import Center from './Center.astro'

---

<Center
  className="relative z-0 py-8 lg:py-0 h-48 lg:h-26 border-t border-zinc-200"
  innerClassName="flex flex-wrap items-center h-full text-sm"
  style={{
    backgroundImage: 'url("/assets/img/wave.png")',
    backgroundSize: '40px',
  }}
>
  <div class="w-full text-center lg:hidden">
    <a href="/">
      <img
        alt="logo"
        src="/assets/img/logo.png"
        class="inline-block w-24"
      />
    </a>
  </div>

  <div class="w-full lg:w-1/4 py-1 text-center lg:text-left font-light text-zinc-400">
    © gaoyou.online
  </div>

  <div class="w-1/2 text-center hidden lg:block">
    <a href="/">
      <img
        alt="logo"
        src="/assets/img/logo.png"
        class="inline-block w-24"
      />
    </a>
  </div>

  <div class="w-full lg:w-1/4 py-1 text-center lg:text-right text-zinc-500">
    <a
      href="https://gaoyou.online"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:text-zinc-700"
    >
      高郵攬影
    </a>
    <a
      href="https://jisuowei.com/cola"
      target="_blank"
      rel="noopener noreferrer"
      class="ml-2 hover:text-zinc-700"
    >
      请我喝可乐
    </a>
  </div>
</Center>
