---
import Center from './Center.astro'
import Search from './Search.astro'
import VerticalNav from './VerticalNav.astro'
import { line, NAV_LIST } from '@/utils'

const { pathname } = new URL(Astro.request.url)
const [, activeAnnal] = pathname.split('/')

---

<input class="hidden" type="checkbox" id="mobile-nav-checkbox" />

<div class="fixed z-10 w-full backdrop-blur-md bg-white/80 shadow">
  <Center>
    <div class="h-12 flex justify-between items-center">

      <label
        for="mobile-nav-checkbox"
        class="mobile-nav-button block w-6 h-6 lg:hidden bg-no-repeat bg-center cursor-pointer"
      />
      
      <a
        href="/"
        class="block w-16"
        title="Logo"
      >
        <img
          src="/assets/img/logo.png"
          alt="gaoyouzhi"
          class="w-16"
        />
      </a>

      <div class="hidden h-full lg:flex justify-center items-center grow">
        {NAV_LIST.map(({ name, to }) => (
          <a
            href={to}
            class={line(`
              flex items-center
              relative h-full mx-2 xl:mx-4
              font-thin text-sm text-zinc-600 hover:text-zinc-800 font-kxzd 
              ${to === `/${activeAnnal}` ? 'active-nav-item text-zinc-900' : ''}
            `)}
          >
            {name}
          </a>
        ))}
      </div>

      <div class="w-8 lg:w-16">
        <div
          class={line(`
            flex-center-center
            relative z-0 w-full h-8 rounded-full
            transition duration-200 cursor-pointer
            bg-zinc-100 hover:bg-zinc-200
          `)}
        >
          <img
            src="/assets/icon/search.svg"
            alt="search"
            class="w-3 opacity-50"
          />
          <Search />
        </div>
      </div>

    </div>
  </Center>

</div>

<div
  class={line(`
    mobile-nav
    fixed z-30 px-8 pt-8 w-full bg-white/90 backdrop-blur-md shadow-lg
    transition-all duration-200
  `)}
>
  <VerticalNav />
</div>

<label
  for="mobile-nav-checkbox"
  class="mobile-nav-mask fixed z-20 inset-0 bg-black/10"
/>
