/* 导航选中 */
.active-nav-item::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3px;
  background: #2d3748;
  border-radius: 3px 3px 0 0;
}

/* 移动端 导航 控制 */
.mobile-nav-button {
  background-image: url("/assets/icon/nav-hamburger.svg");
  background-size: 1rem;
}

.mobile-nav {
  transform: translateY(-150%);
}

.mobile-nav-mask {
  display: none;
}

#mobile-nav-checkbox:checked ~ .mobile-nav {
  transform: translateY(0);
}

#mobile-nav-checkbox:checked ~ .mobile-nav-mask {
  display: block;
}

/* 移动端 大纲 控制 */
.mobile-outline-button {
  background-image: url("/assets/icon/list.svg");
  background-size: 1rem;
}

.mobile-outline {
  transform: translateX(-150%);
}

.mobile-outline-mask {
  display: none;
}

#mobile-outline-checkbox:checked ~ .mobile-outline {
  transform: translateX(0);
}

#mobile-outline-checkbox:checked ~ .mobile-outline-mask {
  display: block;
}

/* PC 强制隐藏 */
@media (width >= 64rem) {
  .mobile-nav,
  .mobile-nav-mask,
  .mobile-outline,
  .mobile-outline-mask {
    display: none !important;
  }
}
