@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'kxzd';
  src: url('../fonts/kxzd.woff') format('woff');
}

.font-kxzd {
  font-family: 'kxzd';
}

.font-kai {
  font-family: 'kai';
}

.write-vertical {
  writing-mode: vertical-rl;
}

@keyframes animation-bounce {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(-24px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.animation-bounce {
  animation: animation-bounce 1.5s linear infinite;
}

/* annals-page */
.annals-content .anchor {
  margin-left: -28px;
  padding-right: 0;
}

.annals-content h3 {
  margin: 1.3rem 0 1rem 0;
  font-size: 30px;
}

.annals-content h4 {
  margin: 1.2rem 0 .9rem 0;
  font-size: 26px;
}

.annals-content h5 {
  margin: 1.1rem 0 .8rem 0;
  font-size: 22px;
}

.annals-content h6 {
  margin: 1rem 0 .7rem 0;
  font-size: 18px;
}

.annals-content p {
  margin-bottom: .8rem;
  font-weight: 300;
  text-align: justify;
  font-size: 16px;
  line-height: 1.8;
}

.annals-content p.text-center {
  text-align: center;
}

.annals-content p.T {
  font-weight: 300;
  font-size: 14px;
  color: #888;
  padding: 4px 8px;
  background: #fafafa;
  font-family: FangSong, STFangsong;
}

.annals-content ul {
  margin-bottom: 1.2rem;
}

.annals-content li {
  margin-bottom: .5rem;
  list-style: disc;
  list-style-position: inside;
  font-weight: 300;
}

.annals-content img {
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 2px;
}

.annals-content sub {
  bottom: 0;
  margin-left: 4px;
  color: #999;
}

/* sidebar */
.sidebar-outline a {
  color: #666;
  font-size: 14px;
}

.sidebar-outline a:hover {
  color: #222;
}

.sidebar-outline h4 {
  line-height: 24px;
}

.sidebar-outline h4 a {
  font-size: 14px;
}

.sidebar-outline-items {
  margin: 8px 0;
  border-left: 1px solid #ddd;
  margin-left: 10px;
  padding-left: 17px;
}

.sidebar-outline-items a {
  color: #787878;
  font-size: 14px;
}

.sidebar-outline-items a.active {
  color: #222;
  font-weight: bold;
}

/* tocbot */
.toc-list-container .is-active-link {
  color: #222;
  font-weight: bold;
}

.annals-tocbot {
  width: 220px;
  padding-left: 40px;
}

.annals-tocbot h3 {
  font-size: 14px;
  margin-bottom: 12px;
}

.toc-list-container li {
  list-style: none;
}

.toc-list-container a {
  color: #787878;
  font-size: 12px;
}

.toc-list-container a:hover {
  color: #222;
}

.toc-list-container .is-active-link {
  color: #222;
  font-weight: bold;
}

.toc-list a {
  padding-left: 24px;
}

.toc-list .is-active-li a.active {
  color: #222 !important;
  font-weight: bold;
  background: url('../img/link.png') no-repeat left center;
  background-size: contain;
}

.toc-list .toc-list {
  padding-left: 20px;
}

.tocbot-title {
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
  color: #aaa;
}

/* prev-next */
.prev-next {
  background: url('../img/stripe.png') repeat-x center top;
  background-size: 30px;
}

.prev-next .section {
  padding: 0 32px;
  margin: 0 4px;
  cursor: pointer;
  transition: margin .23s;
}

.prev-next .section:hover {
  margin: 0;
}

.prev-next .prev {
  display: block;
  background: url('../img/icon/arrow-prev.svg') no-repeat left center;
  background-size: 24px;
}

.prev-next .next {
  display: block;
  background: url('../img/icon/arrow-next.svg') no-repeat right center;
  background-size: 24px;
}

/* list-icon */
.annals-icon {
  background: url() no-repeat left center;
  background-size: 20px;
  padding-left: 28px;
}

.annals-icon.icon-list {
  background-image: url(../img/icon/list-list.png);
}

.annals-icon.icon-layer {
  background-image: url(../img/icon/list-layer.png);
}

.annals-icon.icon-river {
  background-image: url(../img/icon/list-river.png);
}

.annals-icon.icon-money {
  background-image: url(../img/icon/list-money.png);
}

.annals-icon.icon-bowl {
  background-image: url(../img/icon/list-bowl.png);
}

.annals-icon.icon-school {
  background-image: url(../img/icon/list-school.png);
}

.annals-icon.icon-pray {
  background-image: url(../img/icon/list-pray.png);
}

.annals-icon.icon-sword {
  background-image: url(../img/icon/list-sword.png);
}

.annals-icon.icon-chair {
  background-image: url(../img/icon/list-chair.png);
}

.annals-icon.icon-column {
  background-image: url(../img/icon/list-column.png);
}

.annals-icon.icon-people {
  background-image: url(../img/icon/list-people.png);
}

.annals-icon.icon-book {
  background-image: url(../img/icon/list-book.png);
}

.annals-icon.icon-taiji {
  background-image: url(../img/icon/list-taiji.png);
}

.page-side-bar-switch {
  background-color: #333;
  box-shadow: 0 0 16px rgba(0, 0, 0, .3);
}