@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./tailwind.patch.css";
@import "./annals-content.css";

/* tocbot */
.toc-list-container .is-active-link {
  color: #222;
  font-weight: bold;
}

.toc-list-container li {
  list-style: none;
}

.toc-list-container a {
  color: #718096;
  font-size: 12px;
  font-weight: 400;
}

.toc-list-container a:hover {
  color: #222;
}

.toc-list-container .is-active-link {
  color: #222;
  font-weight: bold;
}

.toc-list a {
  padding-left: 24px;
}

.toc-list .is-active-li a.active {
  color: #222 !important;
  font-weight: bold;
  background: url('../img/icon/link.svg') no-repeat left center;
  background-size: contain;
}

.toc-list .toc-list {
  padding-left: 20px;
}

/* list-icon */
.annals-icon {
  background: url() no-repeat left center;
  background-size: 20px;
  padding-left: 28px;
}

.annals-icon.icon-list {
  background-image: url(../img/icon/list-list.png);
}

.annals-icon.icon-layer {
  background-image: url(../img/icon/list-layer.png);
}

.annals-icon.icon-river {
  background-image: url(../img/icon/list-river.png);
}

.annals-icon.icon-money {
  background-image: url(../img/icon/list-money.png);
}

.annals-icon.icon-bowl {
  background-image: url(../img/icon/list-bowl.png);
}

.annals-icon.icon-school {
  background-image: url(../img/icon/list-school.png);
}

.annals-icon.icon-pray {
  background-image: url(../img/icon/list-pray.png);
}

.annals-icon.icon-sword {
  background-image: url(../img/icon/list-sword.png);
}

.annals-icon.icon-chair {
  background-image: url(../img/icon/list-chair.png);
}

.annals-icon.icon-column {
  background-image: url(../img/icon/list-column.png);
}

.annals-icon.icon-people {
  background-image: url(../img/icon/list-people.png);
}

.annals-icon.icon-book {
  background-image: url(../img/icon/list-book.png);
}

.annals-icon.icon-taiji {
  background-image: url(../img/icon/list-taiji.png);
}
