@font-face {
  font-family: 'kxzd';
  src: url('../fonts/kxzd.woff') format('woff');
}

@font-face {
  font-family: 'din';
  src: url('../fonts/din.woff2') format('woff2');
}

.font-kxzd {
  font-family: 'kxzd';
}

.font-din {
  font-family: 'din';
}

.font-kai {
  font-family: 'kai';
}

.write-vertical {
  writing-mode: vertical-rl;
}

@keyframes animation-bounce {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(-24px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.animation-bounce {
  animation: animation-bounce 1.5s linear infinite;
}