@font-face {
  font-family: 'kxzd';
  src: url('../fonts/kxzd.woff') format('woff');
}

@font-face {
  font-family: 'din';
  src: url('../fonts/din.woff2') format('woff2');
}

.font-kxzd {
  font-family: 'kxzd';
}

.font-din {
  font-family: 'din';
}

.font-kai {
  font-family: 'kai';
}

.write-vertical {
  writing-mode: vertical-rl;
}

@keyframes animation-bounce {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(-24px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.animation-bounce {
  animation: animation-bounce 1.5s linear infinite;
}


.bg-hazy-10 {
  backdrop-filter: saturate(180%) blur(1px);
  -webkit-backdrop-filter: saturate(180%) blur(1px);
  background-color: rgba(255, 255, 255, .8);
}

.bg-hazy-25 {
  backdrop-filter: saturate(180%) blur(2.5px);
  -webkit-backdrop-filter: saturate(180%) blur(2.5px);
  background-color: rgba(255, 255, 255, .8);
}

.bg-hazy-50 {
  backdrop-filter: saturate(180%) blur(5px);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  background-color: rgba(255, 255, 255, .8);
}

.bg-hazy-100 {
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba(255, 255, 255, .8);
}

.bg-hazy-200 {
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, .8);
}

.bg-deep-10 {
  backdrop-filter: saturate(180%) blur(1px);
  -webkit-backdrop-filter: saturate(180%) blur(1px);
  background-color: rgba(0, 0, 0, .4);
}

.bg-deep-25 {
  backdrop-filter: saturate(180%) blur(2.5px);
  -webkit-backdrop-filter: saturate(180%) blur(2.5px);
  background-color: rgba(0, 0, 0, .4);
}

.bg-deep-50 {
  backdrop-filter: saturate(180%) blur(5px);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  background-color: rgba(0, 0, 0, .4);
}