@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'kxzd';
  src: url('./fonts/kxzd.woff') format('woff');
}

.font-kxzd {
  font-family: 'kxzd';
}

.font-kai {
  font-family: 'kai';
}

.gyz-center {
  width: 1320px;
}

@media screen and (max-width: 1040px) {
  .gyz-center {
    width: 100%;
  }

  .gyz-logo-list {
    margin: 0;
  }

  .gyz-logo-list .list-item {
    margin: 0;
    padding: 10px;
  }

  .gyz-page .page-side-bar,
  .gyz-page .page-tocbot {
    display: none;
  }
  
  .gyz-page .page-content {
    padding: 20px;
    width: 100%;
  }
}

@keyframes animation-rotate-y {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.animation-rotate-y {
  animation: animation-rotate-y 3s linear infinite;
}

/* annals-page */
.annals-body .anchor {
  margin-left: -28px;
  padding-right: 0;
}

.annals-body p {
  font-weight: 400;
}

.annals-body p.T {
  font-weight: 300;
  font-size: 14px;
  color: #666;
}

/* sidebar */
.sidebar-outline a {
  color: #666;
  font-size: 14px;
}

.sidebar-outline a:hover {
  color: #222;
}

.sidebar-outline h4 {
  line-height: 24px;
}

.sidebar-outline h4 a {
  font-size: 14px;
}

.sidebar-outline-items {
  margin: 8px 0;
  border-left: 1px solid #ddd;
  margin-left: 10px;
  padding-left: 17px;
}

.sidebar-outline-items a {
  color: #787878;
  font-size: 14px;
}

.sidebar-outline-items a.active {
  color: #222;
  font-weight: bold;
}

/* tocbot */
.toc-list-container .is-active-link {
  color: #222;
  font-weight: bold;
}

.annals-tocbot {
  width: 220px;
  padding-left: 20px;
}

.annals-tocbot h3 {
  font-size: 14px;
  margin-bottom: 12px;
}

.toc-list-container li {
  list-style: none;
}

.toc-list-container a {
  color: #787878;
  font-size: 12px;
}

.toc-list-container a:hover {
  color: #222;
}

.toc-list-container .is-active-link {
  color: #222;
  font-weight: bold;
}

.toc-list a {
  padding-left: 24px;
}

.toc-list .is-active-li a.active {
  color: #222 !important;
  font-weight: bold;
  background: url('./img/link.png') no-repeat left center;
  background-size: contain;
}

.toc-list .toc-list {
  padding-left: 20px;
}

.tocbot-title {
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
  color: #aaa;
}

/* prev-next */
.prev-next {
  display: flex;
  padding: 32px;
  background: url('./img/stripe.png') repeat-x center top;
  background-size: 30px;
}

.prev-next .section {
  flex-grow: 1;
  padding: 0 48px;
  margin: 0 8px;
  cursor: pointer;
  transition: margin .23s;
}

.prev-next .section:hover {
  margin: 0;
}

.prev-next .section span {
  color: #ccc;
  font-size: 12px;
}

.prev-next .section p {
  font-size: 18px;
  color: #777;
}

.prev-next .section:hover p {
  color: #222;
}

.prev-next .next {
  text-align: right;
}

.prev-next .prev {
  content: "";
  display: block;
  background: url('./img/icon/arrow-prev.svg') no-repeat left center;
  background-size: 24px;
}

.prev-next .next {
  content: "";
  display: block;
  background: url('./img/icon/arrow-next.svg') no-repeat right center;
  background-size: 24px;
}

/* list-icon */
.annals-icon {
  background: url() no-repeat left center;
  background-size: 20px;
  padding-left: 28px;
}

.annals-icon.icon-list {
  background-image: url(./img/icon/list-list.png);
}

.annals-icon.icon-layer {
  background-image: url(./img/icon/list-layer.png);
}

.annals-icon.icon-river {
  background-image: url(./img/icon/list-river.png);
}

.annals-icon.icon-money {
  background-image: url(./img/icon/list-money.png);
}

.annals-icon.icon-bowl {
  background-image: url(./img/icon/list-bowl.png);
}

.annals-icon.icon-school {
  background-image: url(./img/icon/list-school.png);
}

.annals-icon.icon-pray {
  background-image: url(./img/icon/list-pray.png);
}

.annals-icon.icon-sword {
  background-image: url(./img/icon/list-sword.png);
}

.annals-icon.icon-chair {
  background-image: url(./img/icon/list-chair.png);
}

.annals-icon.icon-column {
  background-image: url(./img/icon/list-column.png);
}

.annals-icon.icon-people {
  background-image: url(./img/icon/list-people.png);
}

.annals-icon.icon-book {
  background-image: url(./img/icon/list-book.png);
}

.annals-icon.icon-taiji {
  background-image: url(./img/icon/list-taiji.png);
}